body {
  font-family: "Lato", sans-serif;
}

.main-head {
  height: 150px;
  background: #fff;
}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .dis {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
  .dis {
    display: none;
  }
  .create {
    margin-top: 10px;
    padding: 5px;
  }
}

@media screen and (min-width: 768px) {
  .create {
    margin-top: 10px;
    margin-left: 200px;
    padding: 5px;
  }
  .dis {
    display: block;
  }
  .main {
    margin-left: 40%;
  }
  .alert {
    width: 60%;
    float: right;
  }
  .sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 50%;
  }

  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}

.Home {
  text-decoration: none;
  color: white;
}
.Home:hover {
  color: white;
}

.btn {
  color: black;
}

.label {
  float: left !important;
  margin-bottom: 10px;
}

.inputTitle {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px black solid;
  margin-bottom: 10px;
}
.inputBody {
  width: 100%;
  height: 250px;
  border: 1px black solid;
  outline: none;
  border-radius: 2%;
  padding: 10px;
}
.alert {
  width: 57% !important;
  text-align: left !important;
}

.nav-item:hover {
  color: orange;
  opacity: 0.5;
}
.card {
  border: none;
}
